<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sample.blackbox"
    android:versionCode="469"
    android:versionName="6.1.0.408" >
    <!-- 첫 번째 번호(major) : 컨셉이나 앱이 지향하는 기본 디자인이 변경된 경우
         두 번째 번호(minor) : 기능 추가, 삭제 및 사양이 변경된 경우
                              짝수 : 안정버전(Stable Version)
                              홀수 : 개발 버전(Development Version)
         세 번째 번호(point) : 버그 수정, 디자인 변경
         네 번째 번호(Number of builds) : 빌드한 횟수
    -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--12/22 3시 19분 수정    -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--12/22 3시 19분 수정    -->

    <permission android:name="com.sample.blackbox.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="wonpa.alwaysweb.com.myloctest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>  <!--googlemap 권한 -->
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /><!--gps 권한 -->

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 접속 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 화면 꺼짐 방지 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- SD카드 수정 권한 -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlackBox"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        >
        <!-- android:requestLegacyExternalStorage="true" : Android 10(API 수준 29) 이상 -->
        <!-- android:usesCleartextTraffic="true" :  모든 http 프로토콜 접속 허가, Android 9(APL Lv 28) -->
        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.sample.blackbox.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name ="com.sample.blackbox.SecondActivity"
            android:label ="플레이어 액티비티"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />


        <activity android:name ="com.sample.blackbox.FileListView"
            android:label ="파일 리스트 보기"
            android:theme="@style/Theme.BlackBox"

            />

        <activity android:name ="com.sample.blackbox.SetDirectoryName"
            android:label ="디렉토리 설정"
            android:theme="@style/Theme.BlackBox"
         />

        <activity android:name="com.sample.blackbox.Setting"
            android:label="설정"
            android:theme="@style/Theme.BlackBox"
     />

        <activity android:name="com.sample.blackbox.Gps"
            android:label="gps"
            android:theme="@style/Theme.BlackBox"
            />
        <activity android:name="com.sample.blackbox.Shock"
            android:label="충격 감지"
            android:theme="@style/Theme.BlackBox"
            />
        <activity android:name="com.sample.blackbox.SampleVideoRecorder"
            android:label="주행모드"
            android:theme="@style/Theme.BlackBox"
            />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBHvnmcr6AXOS7keoEXtyNnhIU5T8_mdXY" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            /> <!--googlemap 권한 -->


    </application>
    
</manifest>